<!-- <div class="row">
  <div class="col-md-4"> -->

<div class="row">
  <div class="col-md-12">
    <div>
      <div class="shadow-sm px-4 py-3 my-3 bg-white rounded">
        <div class="row">
          <div class="col-11">
            <h3>{{emp_data.name | titlecase}}</h3>
            <p class="text-muted">
              Email: {{emp_data.email}} <br>
              Employee ID: {{emp_data._id}} <br>
              Date joined: {{emp_data.date_joined | date}} <br>
              Employee Type: {{emp_data.employee_type}} <br>
              Status: {{ emp_data.is_active ? 'Active' : 'Inactive' }} <br>
            </p>
          </div>
          <div class="col-1 d-flex justify-content-center align-items-start">
            <app-checkbox-toggle [id]='id' [check]="is_present" (change)="handleAttendance($event.target.checked,id)">
            </app-checkbox-toggle>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- </div> -->

<!-- <div class="col-md-8 px-3"> -->


<div class="row">
  <div class="col-md-12">
    <div class="">
      <h4 class="fw-bold my-3">Attendance Summary</h4>
      <div class="light" id="calendar-main">
        <div class="calendar shadow-sm">
          <div class="calendar-header">
            <span class="month-picker">{{months[month]}}</span>
            <div class="year-picker">
              <span class="year-change" id="prev-year" (click)="handleMonth(-1)">
                <pre><</pre>
              </span>
              <span id="year">{{year}}</span>
              <span class="year-change" id="next-year" (click)="handleMonth(1)">
                <pre>></pre>
              </span>
            </div>
          </div>

          <div class="calendar-body">
            <div class="calendar-week-day" id="small-weeks">
              <div>Mon</div>
              <div>Tue</div>
              <div>Wed</div>
              <div>Thu</div>
              <div>Fri</div>
              <div>Sat</div>
              <div>Sun</div>
            </div>
            <div class="calendar-week-day" id="large-weeks">
              <div>Monday</div>
              <div>Tuesday</div>
              <div>Wednesday</div>
              <div>Thursday</div>
              <div>Friday</div>
              <div>Saturday</div>
              <div>Sunday</div>
            </div>
            <div class="calendar-days">
              <div *ngFor="let date of arr" class="{{date.background}} fw-bold">
                {{date['date']}}
              </div>
            </div>
          </div>

          <div class="month-list"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- </div> -->

<!-- </div> -->