<div class="container d-flex align-items-center justify-content-center" style="height: 100vh;">
  <div class="row">
    <div class="col-md-7 align-self-center">
      <img class="img-responsive" src="../../../assets/errorimg.svg">
    </div>
    <div class="col-md-5 align-self-center">
      <h1 style="font-size: 7.5rem;">404</h1>
      <h2>UH OH! You're lost.</h2>
      <p>The page you are looking for does not exist.
        How you got here is a mystery. But you can click the button below
        to go back to the homepage.
      </p>
      <a routerLink="/" class="btn btn-success">Back to Home</a>
    </div>
  </div>
</div>